.search-box {

    align-self: flex-end;

    font-family:  "Open Sans",;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    font-size: 1.8rem;
    letter-spacing: -1px;
    line-height: 34px;
    padding: .5rem .7rem;
    width: 30%;    
    color: $color-input-text;


    background: $color-card;

    background-image: url("../../../img/Rectangle\ 2.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;  
    text-indent: 20px;

    
    

    border: 2px solid $color-input-border;

    &::placeholder {
        color: $color-input-text;
        
    }

    @include respond(phone) { 
        align-self: center;
        width: 60%;
        font-size: 1.2rem;
        
    }
    

}