.container-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-evenly;
    
    @include respond(phone) { 
        justify-content: space-between;
        height: 90%;
        align-self: center;
    }
}