.container {
    
    width: 100%;
    height: 100vh;
    padding: 0 5rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include respond(phone) { 
        
        height: 100%;
        justify-content: space-between;
        overflow-y: scroll;
        padding: 1.5rem 0;
    }

}