.bg-img {
    background-image: url("dist/img/Background.png");
    
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(118%);

    @include respond(phone) { 
        background-image: url("dist/img/metro-ui-weather-design-mobile.jpg");
        background-position: top;
    }
}